.mdl-layout__header {
    background-color: rgb(30, 190, 30);
}
.section1{
    background-color:rgb(185, 54, 36) ;
}
.section2{
    background-color:rgb(81, 36, 185) ;

}
.section3{
    background-color:rgb(182, 185, 36) ;

}